doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    meta(property="og:title" content="CSS Regression Testing. Alexander Suevalov.")
    meta(property="og:type" content="article")
    meta(property="og:locale" content="en_GB")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title CSS Regression Testing. Alexander Suevalov.
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Open+Sans:300,400,700', rel='stylesheet' type='text/css')
    link(rel='stylesheet', type='text/css', href='build/build.css')
  body
    <!--[if lt IE 9]><p class="chromeframe">You are using an outdated browser.<a href="http://browsehappy.com/">Upgrade your browser today</a>or<a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a>to better experience this site.</p><![endif]-->
    article

      section(data-bespoke-backdrop="intro")
        .content
          .byline
          h2 CSS Regression Testing
          .byline
          .me
          .me-contacts
            a(href="http://suevalov.com" target="__blank") http://suevalov.com
            a(href="mailto:suevalov.me@gmail.com") suevalov.me@gmail.com

      section.slide6
        .content.bullet-step
          ul
            li.bullet
              img(src="images/imagine1.jpg" style="margin-top: 20px;")
            li.bullet
              img(src="images/imagine2.jpg" style="margin-top: 20px;")
            li.bullet
              img(src="images/imagine3.jpg" style="margin-top: 20px;")
            li.bullet
              img(src="images/imagine4.jpg" style="margin-top: 20px;")

      section.slide7(data-bespoke-backdrop="screaming")
        .content
          .byline
          h2 Manual testing? No way!
          .byline

      section.slide4(data-bespoke-backdrop="slide4")
        .content
          .byline
          h2 Stop&nbsp;&nbsp;-&nbsp;&nbsp;Wait&nbsp;&nbsp;-&nbsp;&nbsp;Automate
          .byline

      section.content-left.js-tools.green(data-bespoke-backdrop="green")
        .content
          h2 JS Quality Assurance
          .row
            .left-column
              ul
                li Static Syntax Analysis:
                  a(href="http://jshint.com/" target="__blank") JSHint
                  span(style="margin-left: 10px;") /
                  a(href="http://eslint.org/" target="__blank") ESLint
                li Code Style Analysis:
                  a(href="http://jscs.info/" target="__blank") JSCS
                li Unit Testing:
                  a(href="http://jasmine.github.io/" target="__blank") Jasmine
                  | ,
                  a(href="https://github.com/mochajs/mocha" target="__blank") Mocha
                  |  +
                  a(href="https://github.com/chaijs/chai" target="__blank") Chai
                  | ,
                  a(href="http://karma-runner.github.io/0.12/index.html" target="__blank") Karma
                li Selenium Testing
            .right-column
              img(src="/images/js.png")

      section.content-left.js-tools.green(data-bespoke-backdrop="green")
        .content
          h2 Markup & CSS Quality Assurance
          .row
            .left-column
              ul
                li Syntax and Code Style Analysis:
                  a(href="https://github.com/CSSLint/csslint" target="__blank") CSSLint
                  | ,
                  a(href="https://github.com/philipwalton/html-inspector" target="__blank") HTML Inspector
                li Regression Testing: ?
            .right-column
              img(src="/images/css.gif")

      section.green.slide5(data-bespoke-backdrop="green")
        .content
          h2(style="font-size: 45px;") Easy to break, hard to track
          img(src="images/bugs.png" style="margin-top: 20px;")

      section(data-bespoke-backdrop="difference")

      section.slide8(data-bespoke-backdrop="machine-decide")
        .content
          .byline
          h2 Machines should decide!
          .byline

      section.green.content-left.js-tools.slide9(data-bespoke-backdrop="green")
        .content
          h2 What we want
          ul
            li Testing in different browsers
            li Testing in different viewports
            li Comparing page fragments
            li Manipulate with page before taking screenshot

      section.slide10
        .content
          img(src="images/demo-time.jpg")

      section.slide12.tool
        .content
          h2 Huxley
          a(href="https://github.com/facebookarchive/huxley" target="__blank") https://github.com/facebookarchive/huxley
          ul(style="text-align: center; margin-top: 20px;")
            li No need to write tests
            li Testing in different states
            li Only full page screenshots
            li Only one browser

      section.tool
        .content
          h2 Makeup
          a(href="https://github.com/2gis/makeup" target="__blank") https://github.com/2gis/makeup
          ul(style="text-align: center; margip-top: 20px;")
            li Tool for quick manual regression testing

      section.slide13.tool
        .content
          h2 PhantomCSS
          a(href="https://github.com/Huddle/PhantomCSS" target="__blank") https://github.com/Huddle/PhantomCSS
          ul(style="text-align: center; margin-top: 20px;")
            li Fragments
            li Testing in different states
            li Only in PhantomJS
            li Manipulations with page using CasperJS

      section.slide14.tool
        .content
          h2 PhantomFlow - Decision trees
          a(href="https://github.com/Huddle/PhantomFlow" target="__blank") https://github.com/Huddle/PhantomFlow
          ul(style="text-align: center; margin-top: 20px;")
            li Enables a more expressive way of describing user interaction paths within tests
            li Uses PhantomCSS
            li Only in PhantomJS
            li Supports TDD and BDD for web applications and responsive web sites
            li Supports visual regression workflows, quick inspection & rebasing via UI.

      section.tool
        .content
          h2 Wraith
          a(href="https://github.com/BBC-News/wraith" target="__blank") https://github.com/BBC-News/wraith
          ul(style="text-align: center; margin-top: 20px;")
            li Uses either PhantomJS, CasperJS or SlimerJS

      section.slide15.tool
        .content
          h2 Backstop.js
          a(href="https://github.com/garris/BackstopJS" target="__blank") https://github.com/garris/BackstopJS
          ul(style="text-align: center; margin-top: 20px;")
            li Great for testing simple applications
            li Declarative description
            li Only in PhantomJS

      section.slide16.tool
        .content
          h2 WebDriverCSS
          a(href="https://github.com/webdriverio/webdrivercss" target="__blank") https://github.com/webdriverio/webdrivercss
          ul(style="text-align: center; margin-top: 20px;")
            li Uses Selenium Grid
            li Testing for different browsers in different states
            li Intergration with SauceLabs, BrowserStack
            li Fragments, excludes

      section.slide17.tool
        .content
          h2 Gemini
          a(href="https://github.com/bem/gemini" target="__blank") https://github.com/bem/gemini
          ul(style="text-align: center; margin-top: 20px;")
            li Compatibility with different browsers
            li Intergration with SauceLabs, BrowserStack
            li Fragments
            li CSS test coverage statistics

      section(data-bespoke-backdrop="happy")
        .content
          .byline
          h2 Automated
          .byline

      section.content-left.js-tools.green(data-bespoke-backdrop="green")
        .content
          h2 Advice
          ul
            li Use static data
            li CSS Regression Testing is not a replacement of functional JS testing
                
      section.thanks(data-bespoke-backdrop="ironman")
        .content
          h2 Thanks
          a(href="http://suevalov.com/" target="__blank") Alexander Suevalov
          a(href="mailto:suevalov.me@gmail.com") suevalov.me@gmail.com
          a.github(href="https://github.com/suevalov" target="__blank") http://github.com/suevalov
          a.twitter(href="https://twitter.com/Suevalov" target="__blank") http://twitter.com/Suevalov
          
    script(src='build/build.js')
    script.
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter27193172 = new Ya.Metrika({
            id:27193172,
      trackHash:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src="//mc.yandex.ru/watch/27193172" style="position:absolute; left:-9999px;" alt="")
      
      

